.navbar{
  background-color: black;
}
.footer{
  background-color:black;
  color: lightgray;
}
.text-center{
  color: lightgray;
}

.fa-linkedin{
  color:rgb(179, 111, 111);
}

.fa-facebook{
  color:rgb(179, 111, 111);
}
.fa-twitter{
  color:rgb(179, 111, 111);
}
.fa-youtube{
  color:rgb(179, 111, 111);
}
.fa-envelope-o{
  color:rgb(179, 111, 111);
}
.fa-google-plus{
  color:rgb(179, 111, 111);
}

.home{
  background-color: beige;
  margin-bottom: auto;
}